* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: cursive;
    background-image: url("img/8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.container .items {
    height: 300px;
    width: 200px;
    filter: brightness(0.5);
    border-radius: 20px;
    transition: 0.5s;
}

.container .items h1 {
    color: white;
    font-size: 20px;
    text-wrap: nowrap;
    text-align: center;
    padding-bottom: 10px;
}

.container .items p {
    color: white;
    font-size: 16px;
    text-wrap: nowrap;
    text-align: center;
}

.items img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.items:hover {
    filter: brightness(1);
    transform: translateZ(200px);
}

.items:hover + *{
    filter: opacity(0.6);
    transform: translateZ(150px) rotateY(40deg);
}

.items:hover + * + *{
    filter: opacity(0.6);
    transform: translateZ(70px) rotateY(20deg);
}

.container .items:has(+ *:hover){
    filter: opacity(0.6);
    transform: translateZ(150px) rotateY(-40deg);
}

.container .items:has(+ * + *:hover){
    filter: opacity(0.4);
    transform: translateZ(-70px) rotateY(-20deg);
}